/* Define a common style for the landing div */
.landing {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    background: linear-gradient(
      109.6deg,
      rgb(1, 24, 54) 11.2%,
      rgba(0, 37, 84, 0.8) 100.2%
    );
    @media (max-width: 800px) {
      height: 400px;
      flex-direction: column;
    }
  }
  
  /* Define a style for the left span */
  .left {
    flex: 1; /* Allow the left span to grow and shrink as needed */
    padding: 0;
    text-align: left; /* Align the text to the left */
    hr {
      background-color: yellow;
      border: 1px solid yellow;
      height: 1px;
      margin-right: 0.5em;
      width: 60%;
    }
    h4 {
      font-size: 1.35rem;
      font-style: italic;
      color: yellowgreen;
    }
    .titles {
      max-width: 700px;
      /* margin-left: 80px; */
      margin-top: 7rem;
      padding: 20px;
    }
    .caption1 {
      display: flex;
      align-items: center;
    }
    .caption2 {
      p {
        font-size: 2.5rem;
        font-style: bold;
        color: white;
        text-transform: uppercase;
        span {
          color: yellow;
        }
      }
      @media(max-width: 1280px){
        p{
          font-size: 2.2rem;
        }
      }
      @media(max-width: 1200px){
        p{
          font-size: 2rem;
        }
      }
      @media(max-width: 1024px){
        p{
          font-size: 1.7rem;
        }
      }
      @media(max-width: 800px){
        p{
          font-size: 1.4rem;
        }
      }
    }
    .caption3 {
      max-width: 450px;
      p {
        font-size: 1.25rem;
        font-weight: 200;
        font-style: oblique 40deg;
        color: white;
      }
    }
    .btns {
      display: flex;
      justify-content: space-between;
      max-width: 250px;
      margin-top: 20px;
    }
    @media (max-width: 800px) {
      hr {
        width: 20%;
        border: 0.5px solid yellow;
      }
      h4 {
        font-size: 1rem;
      }
      .titles {
        max-width: 100%;
        margin-left: 5px;
        margin-top: 0.5rem;
      }
      .caption2 {
        p {
          font-size: 1.5rem;
        }
      }
      @media (max-width: 1280px){
        .caption2{
          font-size: 1.2rem;
        }
      }
       @media (max-width: 1200px){
        .caption2{
          font-size: 22px;
        }
      }
       @media (max-width: 1024px){
        .caption2{
          font-size: .9rem;
        }
      }
       @media (max-width: 800px){
        .caption2{
          font-size: .7rem;
        }
      }
       @media (max-width: 768px){
        .caption2{
          font-size: .5rem;
        }
      }
      .caption3 {
        max-width: 100%;
        p {
          font-size: 0.85rem;
        }
      }
      .btns {
        max-width: 250px;
        margin-top: 15px;
      }
    }
  }
  
  /* Define a style for the right span */
  .right {
    flex: 0;
    padding-right: 20px;

    img {
      width: 500px;
      height: 500px;
      border-radius: 50%;
    }
     @media (max-width: 1280px) {
      img {
        width: 420px;
        height: 420px;
        margin-top: 45px;
      }
    }
    @media (max-width: 1200px) {
      img {
        width: 400px;
        height: 400px;
        margin-top: 49px;
      }
    }
     @media (max-width: 1024px) {
      img {
        width: 370px;
        height: 370px;
        margin-top: 60px;
      }
    }
    
    @media (max-width: 800px) {
      img {
        display: none;
      }
    }
}
